<!DOCTYPE html>
<html lang="en">
<head>
   <% include ./partials/head %>
   <link rel="stylesheet" href="/profile.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" rel="noopener noreferrer" class="navbar-brand">
            <div class="logo-text">
                <h4>LFM</h4>
            </div>
        </a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">							
                    </ul>				
                    <% if (user) { %>
                    <ul class="navbar-nav ">
                        <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%= user.username %>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                                <a class="dropdown-item" href="/profile">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                    <% } else { %>
                        <a href="/login/github" rel="noopener noreferrer" class="btn btn-light language-filter shadowed">
                            <i class="fa fa-github mr-1"></i> Login
                        </a>
                    <% } %>
                </div>
            </div>
        
        </nav>
        <div class="container bootstrap snippet mt-5">
                <div class="row">
                      <div class="col-sm-3"><!--left col-->
                          
            
                  <div class="text-left">
                    <img src="<%= user.avatar_url %>" class="avatar rounded-circle img-thumbnail" alt="avatar">
                    <div><h2 class="text-left"><%= user.name %></h2></div>
                    <div><h4 class="text-left"><%= user.username %></h4></div>
                </div></hr><br>
            
                      
                    </div><!--/col-3-->
                    <div class="col-sm-9">
                            <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link active" href="#repositories" role="tab" data-toggle="tab">Repositories</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#settings" role="tab" data-toggle="tab">Settings</a>
                                    </li>
                                  </ul>
                                  
                                  <!-- Tab panes -->
                                  <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane in active" id="repositories">
                                            <div class="container">
                                                    <br/>
                                                    <div class="row justify-content-center">
                                                                        <div class="col-12 col-md-10 col-lg-8">
                                                                            <form class="card card-sm" id="searchForm">
                                                                                <div class="search-body row no-gutters align-items-center">
                                                                                    <div class="col-auto">
                                                                                        <i class="fa fa-search h4 text-body"></i>
                                                                                    </div>
                                                                                    <!--end of col-->
                                                                                    <div class="col">
                                                                                        <input class="form-control form-control-lg form-control-borderless" id="search" type="search" placeholder="<%= placeHolder %>">
                                                                                    </div>
                                                                                    <!--end of col-->
                                                                                    <div class="col-auto">
                                                                                            
                                                                                        <button class="btn btn-lg btn-success" type="submit">
                                                                                                <div class="spinner" style="display: none;">
                                                                                                        <div class="bounce1"></div>
                                                                                                        <div class="bounce2"></div>
                                                                                                        <div class="bounce3"></div>
                                                                                                </div>
                                                                                                <span>
                                                                                                    Search
                                                                                                </span>
                                                                                        </button>
                                                                                    </div>
                                                                                    <!--end of col-->
                                                                                </div>
                                                                            </form>
                                                                            <div class="repo-container mt-3"> 
                                                                            <ul class="list-group" id="repos">
                                                                                    <% for(var i=0; i < repos.length; i++) { %>
                                                                                        <li class="list-group-item">
                                                                                                <div class="row">
                                                                                                <div class="col-1">
                                                                                                        <i class="fa fa-book"></i>
                                                                                                </div>
                                                                                                <div class="col-8">
                                                                                                   <%= repos[i].name %>
                                                                                                </div>
                                                                                                <div class="col-3">
                                                                                                        <label class="switch">
                                                                                                                <input type="checkbox" onchange="publishRepo(this, '<%= repos[i].name %>')" checked>
                                                                                                                <span class="slider round"></span>
                                                                                                        </label>
                                                                                                </div>
                                                                                                </div>
                                                                                            </li>
                                                                                    <% } %>
                                                                            </ul>
                                                                             </div>
                                                                        </div>
                                                                       
                                                                    </div>
                                                </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="settings">
                                            <h2>No Content</h2>
                                            
            
                                    </div>                        
                                  </div>
                      </div>
            
                    </div>
                </div>
                <script>
                        function publishRepo(e, repoName){
                            var urlParams = new URLSearchParams(window.location.search);
                            var publishUrl = urlParams.has('q') ? `/publish/${repoName}?q=${urlParams.get('q')}` : `/publish/${repoName}`;
                            var isChecked = jQuery(e).prop('checked');
                            var request = $.ajax({
                            url:isChecked ? publishUrl : `/delete/${repoName}`,
                            type: isChecked ? "GET" : "DELETE",
                            data: {},
                            dataType: "json",
                            success: function(data){
                                console.log(data);

                            notie.alert({
                                type:"success", // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
                                text: isChecked ? `${repoName} successfully published` : `${repoName} successfully un-published`,
                                stay: false, // optional, default = false
                                time: 3, // optional, default = 3, minimum = 1,
                                position: "top" // optional, default = 'top', enum: ['top', 'bottom']
                            });
                                
                            }
                        });
                            //fetch(`/publish/${repo}`).then(data => data.json()).then(data => console.log(data));
                        }
                        
                        var serachOrg = false;
                        var orgname;
                        function searchOgr(org){
                            serachOrg = true;
                            orgname=  org;
                        }
                        
                        function createRepoList(repo){
                            return `
                                <li class="list-group-item">
                                    <div class="row">
                                    <div class="col-1">
                                            <i class="fa fa-book"></i>
                                    </div>
                                    <div class="col-8">
                                        ${repo.name}
                                    </div>
                                    <div class="col-3">
                                            <label class="switch">
                                                    <input type="checkbox" onchange="publishRepo(this, '${repo.name}')">
                                                    <span class="slider round"></span>
                                            </label>
                                    </div>
                                    </div>
                                </li>
                            `;
                   
                        }

                        document.querySelector("#searchForm").addEventListener("submit", function(event){
                            event.preventDefault();

                            var urlParams = new URLSearchParams(window.location.search);

                            var repoName = document.querySelector("input").value;
                            $(".spinner").show();
                            $(".spinner").parent().find('span').hide();
                            var request = $.ajax({
                            url: urlParams.has('q') ? `/search/${repoName}?q=${urlParams.get('q')}` : `/search/${repoName}`,
                            type: "GET",
                            data: {},
                            dataType: "json",
                            success: function(data){
                                console.log(data);
                                $(".spinner").hide();
                                $(".spinner").parent().find('span').show();

                                var reposHtml = "";
                                 data.repo.items.forEach(function(repo){
                                    reposHtml+= createRepoList(repo);
                                });
                                document.getElementById("repos").innerHTML = reposHtml;
                            },
                            error: function(err){
                                $(".spinner").hide();
                                $(".spinner").parent().find('span').show();
                            }
                        });
                           
                        })
                        </script>
                
</body>
</html>
